In [2]:
import pandas as pd

In [5]:
data_dummy = pd.read_csv("./Resources/SRS042628.genels.txt", sep="	")
data_dummy

                                                      GID        Score
0                Neisseria_meningitidis_FAM18_0|639827039  3160.450000
1                                    sp|Q1CS04|PYRE_HELPH    17.077600
2              Metallosphaera_sedula_DSM_5348_2|640506312    13.622000
3                                     sp|Q6SKG1|ACSM3_RAT    20.315000
4            Pelobacter_carbinolicus_DSM_2380_6|637750831   216.484000
...                                                   ...          ...
419093  Mycobacterium_avium_subsp._avium_ATCC_25291_68...     0.017383
419094               Mycobacterium_avium_104_79|639736316     0.017383
419095      Sebaldella_termitidis_ATCC_33386_10|645151862     0.102638
419096      Sebaldella_termitidis_ATCC_33386_44|646429430     0.102638
419097                                         modo153053     3.643660

[419098 rows x 2 columns]

In [6]:
adult_data = pd.read_csv("./Resources/Autism-Adult-Data.csv")
adult_data

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,Gender,Ethnicity,Jundice,Family,Country_of_res,Used_app_before,App_result,Age_desc,Relation,ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,'18 and more',?,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,f,White-European,no,no,Russia,no,7,'18 and more',Self,YES
700,1,0,0,0,0,0,0,1,0,1,...,m,Hispanic,no,no,Mexico,no,3,'18 and more',Parent,NO
701,1,0,1,1,1,0,1,1,0,1,...,f,?,no,no,Russia,no,7,'18 and more',?,YES
702,1,0,0,1,1,0,1,0,1,1,...,m,'South Asian',no,no,Pakistan,no,6,'18 and more',Self,NO
703,1,0,1,1,1,0,1,1,1,1,...,f,White-European,no,no,Cyprus,no,8,'18 and more',Self,YES