In [1]:
import pandas as pd
import csv
import numpy as np
import requests
import matplotlib.pyplot as plt
import json
from scipy.stats import linregress

In [2]:
kindle_csv = "C:/Users/freak/Downloads/kindle_reviews.csv"
kindle_data = pd.read_csv(kindle_csv)
kindle_data

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200
...,...,...,...,...,...,...,...,...,...,...
982614,982614,B00M13FNSS,"[2, 2]",5,Yasss hunny! This is a great read. That Dre is...,"07 23, 2014",A2Y66HD4J5S7QZ,Candi,A Hot Read Indeed!!,1406073600
982615,982615,B00M13FNSS,"[0, 0]",5,I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...,"07 23, 2014",A17YHECC8H9NEY,Margie,VERY GOOD BOOK,1406073600
982616,982616,B00M13FNSS,"[1, 1]",5,Great book! Cherika was a fool. She let that m...,"07 23, 2014",A20KO0BPMNREJL,Nicki,Great Read,1406073600
982617,982617,B00M13FNSS,"[0, 0]",5,When I say this was an excellent book please b...,"07 23, 2014",A1BQO66R6OLCCW,Nikey,Wow!!,1406073600
982618,982618,B00M13FNSS,"[2, 2]",5,This book was everything. I just hope Alexus w...,"07 23, 2014",A2NRGE3CSFY2TQ,Yo,Great read.hands down #5star hit,1406073600

In [3]:
kindle_drop = kindle_data.dropna()

In [4]:
word_list = []

for review in kindle_drop["reviewText"]:
    review_replace = review.replace(".", " ")
    review_replace = review.replace("&#34;", " ")
    review_replace = review_replace.replace("*", " ")
    review_replace = review_replace.replace("(", " ")
    review_replace = review_replace.replace(")", " ")
    review_replace = review_replace.replace(",", " ")
    review_replace = review_replace.replace('''"''', " ")
    review_replace = review_replace.replace("?", " ")
    review_replace = review_replace.replace("!", " ")
    review_replace = review_replace.replace("/", " ")
    review_replace = review_replace.replace(":", " ")
    
    word_split = review.split(" ")
    for word in word_split:
        word_lower = word.lower()
        word_list.append(word_lower)

len(word_list)

109159869

In [5]:
word_df = pd.DataFrame(word_list)

word_df

                   0
0                  i
1              enjoy
2            vintage
3              books
4                and
...              ...
109159864  patiently
109159865    waiting
109159866        for
109159867       part
109159868         2.

[109159869 rows x 1 columns]

In [6]:
word_df[0].value_counts()

the                 4902218
and                 3517220
to                  3080930
a                   2950355
i                   2634749
                     ...
too.takamaki              1
defense.i'm               1
&really                   1
lincky                    1
happening.seemed          1
Name: 0, Length: 1660284, dtype: int64